@(id: Long, catForm: Form[Cat])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    
    <h1>Edit cat</h1>
    
    @form(routes.Application.update(id),'enctype -> "multipart/form-data") {
        
        <fieldset>
        
          @inputText(catForm("name"), '_label -> "Cat's name")
	  @select(
                catForm("gender"), 
                options = options(Genders.list),
                '_default -> "--- Choose a Gender ---",
                '_label -> "Gender"
            )
            
            @inputText(catForm("color"), '_label -> "Color")
            @inputText(catForm("birth"), '_label -> "Birthdate")
            
            @select(
                catForm("race"), 
                Race.options, 
                '_label -> "Breed", '_default -> "-- Choose a breed --",
                '_showConstraints -> false
            )

                  	    
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this cat" class="btn primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>

	}
	
     
   <a href="@routes.Application.delete(id)" 
   class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete this cat</a>
	
	
}
